let mapleader=" "

set relativenumber number                  " line numbers
set noerrorbells visualbell t_vb=          " Disable annoying bells.

Plug 'tpope/vim-surround'

set easymotion
map <leader> <Plug>(easymotion-prefix)
map s <Plug>(easymotion-s)
