[user]
    name = "Stuart Mashaal"
    email = "stuart.mashaal@gmail.com"
[push]
    default = upstream
[alias]
    cm = commit
    cmm = commit -m
    a = add
    aa = add -A
    aacm = !git add -A && git commit
    aacmm = !git add -A && git commit -m
    f = fetch
    b = branch
    ba = branch --all
    bc = branch --show-current
    bg = !git branch | rg
    bag = !git branch --all | rg
    bd = branch -d
    bD = branch -D
    bn = checkout -b
    ch = checkout
    chg = "!function gchg() { git checkout $(git branch | rg \"$1\" | fzf -1); }; gchg"
    chag = "!function gchag() { git checkout $(git branch -a | rg \"remotes.*$1\" | choose -f / 2 | sort | uniq | fzf -1); }; gchag"
    ls = ls-files
    s = status
    ss = stash save
    sp = stash pop
    sd = stash drop
    sl = stash list
    lg = log --decorate --graph --all
    d = diff
    dc = diff --cached
    dm = diff master
    dw = diff --word-diff
    ps = push
    pl = pull
    i = init
    rs = reset
    rsh = reset --hard
    rsc = reset --cached
    m = merge
    mm = merge master
[diff]
    algorithm = patience

[delta]
    features = decorations
    line-numbers = true
    max-line-length = 120
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[color]
    ui = true
